<h1>About us</h1>
<div class="row">
  <div class="col-main col-main-extend">
    <p>Secret club is a secret club where you can exchange secrets with other members. You cannot join us without an invitation.</p>
  </div>
</div>
