<h1>Contact us</h1>
<div class="row">
  <div class="col-main col-main-extend">
    <p>If you have any questions, please countact our admin, Example: <i>example@example.com</i>.</p>
    <p>You cannot join us. Only a member can invite you.</p>
  </div>
</div>