<div class="footer">
  <div class="description">
    <p id="description">Super Secret Club</p>
  </div>
  <div class="nav">
    <%= link_to "About", "#" %>
    <%= link_to "Contact us", "#" %>
  </div>
</div>